
body{background-color: #F9F4EE;}

body {font-family: 'Lora', serif;
}

#mainTitle {background-color: #4F6D7A;
    font-family: 'Oswald', sans-serif;
    font-size: 5rem;
}

#navbar {background-color: #C0D6DF;
    font-family: 'Roboto Condensed', sans-serif;
}

.navtext {color: #4F6D7A;}

#NAnav {color: #4F6D7A;
}

#RDnav {color: #4F6D7A;
}

#DMnav {color: #4F6D7A;
}

#PEnav {color: #4F6D7A;}

h1 {color: #F9F4EE;
}

.card-title {font-size: 3rem;
    color: #4F6D7A;
}

.card-text {font-size: 1.25rem;
    color: #4F6D7A;
}

#aboutmecard {background-color: #C0D6DF;}

#aboutmetitle {font-family: 'Oswald', sans-serif;}

#headshot {height: 30rem;
}

#projectintro {background-color:#4F6D7A;
color: #F9F4EE;
font-size: 1.2rem;
}

footer {background-color: #4F6D7A;
    color: black;
}

#name {font-size: 1.5rem;
}

#contact {font-size: 1.5rem;
}

#datamapping {background-color: #C0D6DF;
    font-family: 'Roboto Condensed', sans-serif;
}

#NAtext {color: #4F6D7A;
}

#RDtext {color: #4F6D7A;
}

#DMtext {color: #4F6D7A;
}

#resumeheading {background-color:#4F6D7A;
color:#F9F4EE;
font-family: 'Oswald', sans-serif;}

.DMpic {height: 18rem;}

.RDpic {height: 18rem;}

.NApic {height: 18rem;
}

.cardgrouptitle {font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

#overviewtitle {background-color: #C0D6DF;}

#projecttitle{color: #4F6D7A;
font-size: 2.5rem;
font-family: 'Oswald', sans-serif;}

.resumecardtitle {font-family: 'Roboto Condensed', sans-serif;
font-size: 3rem;}

#resumeborder {border-color: #C0D6DF;
}

.resumecard {font-size: 1.7rem;}

.card-subtitle {font-size: 1.2rem;}